<% include ../partials/header %>

<section class="flex-new-camp">
  <form class="btn-toolbar" action="/pages/<%= page._id %>/?_method=PUT" method="post">
    <h1 class="text-center w-100">Edit <%= page.name %></h1>
    <input class="form-control my-2 mt-4" type="text" name='page[name]' value="<%= page.name %>">
    <input class="form-control my-2" type="text" name='page[image]' value="<%= page.image %>">
    <textarea class="form-control my-2" type="textarea" name="page[description]" rows="3"><%= page.description %></textarea>
    <button class="btn btn-lg btn-primary btn-block my-2">Update</button>
    <a href="/pages">Go Back</a>
  </form>
</section>

<% include ../partials/footer %>
