<% include ../partials/header %>

<section class="container flex flex-row">

        <h1 class="lead">Chandra Kumala School</h1>


  <article class="flex-article thumbnail">
    <div class="card show">
        <img class="card-img-top" src="<%= page.image %>" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title"><a href="#"><%= page.name %></a></h4>
            <p class="card-text"><%= page.description %></p>
            <p class="card-text"><em>Submitted by : </em><%= page.author.username %></p>
            <% if(currentUser && page.author.id.equals(currentUser._id)){ %>
              <a class="btn btn-warning btn-sm" href="/pages/<%= page._id %>/edit">Edit</a>
              <form class="d-inline" action="/pages/<%= page._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm">Delete</button>
              </form>
            <% } %>

        </div>
    </div>

    <div class="card bg-light my-3 show">
      <div class="card-header text-right"><a href="/pages/<%= page._id %>/sections/new" class="btn btn-success">Add a section to page &hellip;</a></div>
      <!-- <div class="card-body"> -->
      <ul class="list-group list-group-flush">
        <% page.sections.forEach(function(section){ %>
            <li class="list-group-item">
              <strong><%= section.author.username %></strong>
              <span class="float-right">10 days ago</span>
              <br>
              <%= section.text %>
              <br>
              <% if(currentUser && section.author.id.equals(currentUser._id)){ %>
              <a href="/pages/<%=page._id%>/sections/<%=section._id%>/edit" class="btn btn-sm btn-warning">Edit</a>
              <form class="d-inline" action="/pages/<%= page._id %>/sections/<%=section._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm">Delete</button>
              </form>
              <% } %>
            </li>
        <% }) %>
      </ul>
      </div>
    </div>
  </article>

</section>

<% include ../partials/footer %>
